section#photos
  .container
    .row
      .col-md-8.col-md-offset-2
        .slider
          ul
            li
              img(src="/images/photos/IMG_8563_cb-1.jpg")
            li
              img(src="/images/photos/IMG_8564_cb-1.jpg")
            li
              img(src="/images/photos/IMG_8582_cb-1.jpg")
