section#photos
  .container
    .row
      .col-md-8.col-md-offset-2
        .slider
          ul
            li
              img(src="/images/photos/1.jpg")
            li
              img(src="/images/photos/2.jpg")
            li
              img(src="/images/photos/3.jpg")
          a(href="#").unslider-arrow.prev Previous slide
          a(href="#").unslider-arrow.next Next slide
